body{
	width: 100%;
	margin: auto;	
}

.container{
	margin:0 auto; /*sredina*/
	padding-left: 30px;
	padding-right: 30px;

}

.header{
	
	background: #EA6500;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	z-index: 1;
	opacity: 0.90;
	}

.logo{
	float: left;
	font-family: "Verdana";
	font-size: 15px;
	margin-top: 15px;
}

.header a{
 text-decoration: none;  /*crte ispod linkova*/
 color: white;
}

.header a:hover {
    text-decoration: none;
	color:white;
}

.header li{
	font-family: "Verdana";
	color: white;
	list-style: none; 
	float: left; /*izbornik da budu opcije na desnoj strani jedna do druge*/
	margin-top: 15px;
	padding: 15px;
	padding-left: 10px;
	}

.nav{
	float: right;
}

.content{
    padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

h3{

font-family: "Verdana";
	color:gray;
}

/*
.raspored{
padding-top: 100px;
width: 800px;
margin: auto;
}
*/


/* SIDEBAR*/

.sidebar {
	width: 230px;

	padding-top: 150px;
	float: left;
	

}


.sidebar ul {
	margin: 0;
	padding: 10px;
	list-style: none;
}

.sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.5em;
	font-family: "Verdana";
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 6px 2px;
	margin: 0;
	line-height: 1.5em;
	font-size: 13px;
	border: none;
	font-family: "Verdana";
}

.sidebar li ul li a {
	font-weight: normal;
	color: gray;
	font-family: "Verdana";
}

.sidebar li ul li a:hover {
	color: black;
}

.sidebar li ul.blocklist {
	padding: 0;
}

.sidebar li ul.blocklist li {
	padding: 0;
	display: inline;
}

.sidebar li ul.blocklist li a {
	display: block;

	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Verdana";
	font-size: 12px;
}

.sidebar li ul.blocklist li a:hover {
	background-color: #ccc;
	color: #111;
}



.sidebar h4  {
	color: #fff;
	font-family: "Verdana";
	font-size: 13px;
	letter-spacing: -0.5px;
	text-transform:uppercase;
	margin: 10px;
	line-height: 1.9em;
	padding: 10px 5px 5px 10px;
	font-weight: bold;
	background: gray;
	width: 200px;
}

.sidebar h4.h4-green {
	border-bottom: 1px solid;
	width: 200px;
}

.sidebar h4.search{
	border-bottom: 1px solid;
	width: 200px;
	margin-left: 25px;
}

.search-field{
margin-left: 10px;
}


/*SLIKE PONUDA

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 2px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
	font-family: Verdana;
    padding: 15px;
    text-align: center;
}

div.cijena {
	font-family: Verdana;
    padding: 15px;
    text-align: center;
	color: grey;
}
.naslov {
	font-family: "Verdana";
	text-align: center;
	color: gray;
}*/

/*pop up*/

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;

}
.popup {
  margin: 75px auto;
  padding: 50px;
  background: white;
  border: 1px solid #666;
  width: 700px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  position: relative;

}
.overlay:target {
  visibility: visible;
  opacity: 1;

}
.close {
  position: relative;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.5;
  transition: all 200ms;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.infor{
	text-align: center;
	font-family: "Verdana";
	color: grey;
	font-style:bold;
}

.povijest{
padding-top: 150px;
	padding-left: 50px;
font-family: "Verdana";
	padding-right: 150px;
	
}

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: 200px;
}

div.desc {
    padding: 5px;
    text-align: center;
	height: 100px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 10px 10px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.img-details{

float:left;
	width: 350px;
	height: 250px;
}


.thumb {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#details{
padding-left: 320px;
padding-top: 30px;
	

}


.btn-details {
    background-color: #EA6500;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin-left: 20px;
}


.thumbnails-list{

	padding-top:100px;

}

h4{
font-family: "Verdana";
color: gray;

}
